.footer {
  background-color: #1F1C1C !important;
  padding: 0 !important;
}

.footer .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 44px;
}

.footer .icon {
  height: 20px;
  fill: #F2F2F2;
  margin: 0 0.4rem;
}

.footer .stitcher,
.footer .tune-in {
  width: 44px;
}