/* font-family: 'Audiowide', cursive;
font-family: 'Exo 2', sans-serif;
font-family: 'Roboto', sans-serif; */

html {
  background-color: #1F1C1C !important;
  color: #F2F2F2 !important;
}

a,
.button {
  font-family: 'Roboto', sans-serif;
}

.cookie-content {
  margin-bottom: 0 !important;
}

.cc-window {
  transition: opacity 0.3s ease-in-out;
}

.cc-compliance {
  margin-left: auto;
}

.episode-single .content,
.episode-single .title {
  color: #F2F2F2;
}

.episode-single .content {
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.embed-container {
  margin-top: 3em;
  height: 102px;
}

.embed-container iframe {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.subtitle {
  background-color: transparent;
  color: #F2F2F2 !important;
  font-family: 'Exo 2', sans-serif;
}

.subtitle a {
  border-bottom: solid 1px !important;
}

.icon {
  color: #F2F2F2;
}

a {
  color: #F2F2F2 !important;
}

a:hover,
a:active,
a:focus,
a:hover .icon,
a:active .icon,
a:focus .icon {
  color: #b3b3b3 !important;
}

.is-256x256 {
  width: 256px;
  height: 256px;
}

.hero {
  background-color: #1F1C1C !important;
  
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.95), 0 0 8px rgba(0, 0, 0, 0.95);
}

.hero-body {
  padding: 20px 0 !important;
  overflow: hidden;
}

.hero .title {
  font-family: 'Audiowide', cursive;
  letter-spacing: 1px;
  font-weight: normal;
  color: #F2F2F2;
  padding-left: 1rem;
}

.hero .title .b {
  color: #B30707;
}

.hero .title .s {
  color: #F9C20F;
}

.hero .image {
  transform: rotate(45deg);
  width: 192px;
}

.main .subtitle {
  font-family: 'Exo 2', sans-serif;
  color: #F2F2F2;
  letter-spacing: 2px;
  font-weight: bold;
  max-width: 700px;
  font-size: 21px;
  margin: auto
}

.main .is-loading {
  background: transparent;
  border: none;
}

.episode {
  border: none !important;
  margin-bottom: 1em !important;
}

.episode .media-content {
  margin-left: 1.7em;
  min-height: 120px;
}

.episode-image .image {
  transition: box-shadow 0.1s ease-in-out;
  position: relative;
  background-color: #1F1C1C;
  border-radius: 4px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.95), 0 0 8px rgba(0, 0, 0, 0.95);
  margin-bottom: 8px;
  overflow: hidden;
}

.episode-image.is-link a:hover .image,
.episode-image.is-link a:active .image,
.episode-image.is-link a:focus .image {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.95), 0 0 4px rgba(0, 0, 0, 0.95);
}



.episode-image .image img {
  transform: rotate(90deg) scale(2.5) translateX(10px);
}

.episode-image.is-large {
  margin-bottom: 3em;
}

.episode-image.is-large .image {
  margin: auto;
}

.episode-image.is-large .image img {
  transform: rotate(90deg) scale(2.5) translateX(40px);
}

.episode-image .episode-number {
  font-family: 'Audiowide', cursive;
  font-size: 18px;
  color: #F2F2F2;
  text-align: center;
  line-height: 64px;
}

.episode-image.is-large .episode-number {
  font-size: 64px;
  line-height: 256px;
}

.episode-image .episode-image-container,
.episode-image .episode-number {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
}

.episode-image .episode-number {
  left: 0;
}

.episode-image .episode-image-container {
  right: 0;
}

.episode .title {
  letter-spacing: 1px;
  color: #F2F2F2;
  font-size: 24px;
  font-weight: normal;
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 0.6em !important;
}

.episode .content {
  letter-spacing: 1px;
  line-height: 22px;
  font-size: 16px;
  color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
}

.episode .content.is-collapsed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.episode-image .social {
  margin-left: -4px;
}

.episode-image.is-large .social {
  font-size: 18px;
  text-align: center;
  margin-left: 0;
  margin-top: 1rem;
}

.social {
  height: 24px;
  overflow: hidden;
  transition: height 0.1s ease-in-out;
}

.episode-image.is-open .social {
  height: 144px;
}

.episode-image.is-large .links {
  width: 100%;
}

main {
  background-color: #3B3232 !important;
}

.pagination {
  margin: 1em 0 !important;
}

.pagination-previous,
.pagination-next,
.pagination-link {
  background-color: transparent;
  color: #F2F2F2 !important;
}

.pagination-previous[disabled],
.pagination-next[disabled],
.pagination-link[disabled] {
  background-color: transparent !important;
}

.pagination-previous:hover
.pagination-next:hover,
.pagination-link:hover {
  color: #b3b3b3 !important;
  border-color: #b3b3b3 !important;
}

.pagination-link.is-current {
  background-color: #F2F2F2 !important;
  border-color: #F2F2F2 !important;
  color: black !important;
}

.footer {
  background-color: #1F1C1C !important;
  padding: 0 !important;
}

.hosts {
  border-top: 1px solid #7B7B7B;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.hosts .icon {
  height: 20px;
  fill: #F2F2F2;
  margin: 0.4rem;
}

.hosts .icon:hover,
.hosts .icon:active,
.hosts .icon:focus {
  fill: #b3b3b3 !important;
}

.hosts .stitcher,
.hosts .tune-in {
  width: 44px;
}